/* COSE DA FARE
- RAGGRUPPA MEGLIO I css
- CENTRATURE HEADER E FOOTER */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}
body p{
  color: grey;
}
.clearfix{
  content: '';
  display: table;
  clear: both;
}
.boxed{
  width: 80%;
  margin:auto;
}
.button {
  color:white;
  border-radius: 5px;
  border: 1px solid;
  text-transform:uppercase;
}
.button.small{
  padding:5px 20px;
}
.button.large{
  padding:20px;
}
.button.active{
  background: green;
  border: green;
}
.button.empty{
  background: blue;
}

/* HEADER */
header{
  background: blue;
  width: 100%;
  position: relative;
  font-size: 14px;
}
header img.background{
  position: absolute;
  width: 80%;
  height: 80%;
  right:0;
  bottom:0;
  z-index:1;
}
.top_header {
  padding: 20px;
  text-transform: uppercase;
}
.top_header .logo,
.top_header .nav_menu{
  float: left;
}
.top_header .login_menu{
  float: right;
}
.logo img{
  height: 40px;
}


.top_header ul li{
  display: inline-block;
  margin-right: 10px;
}
.top_header a{
  text-decoration: none;
  color: white;
}

/* HERO SECTION */
.hero_section{
  position: relative;
  height: 60vh;
  color: white;
  overflow: hidden;
}
.hero_title{
  position: absolute;
  top: 20vh;
  width: 30%;
}
.hero_title h1{
  font-size: 25.em;
  margin-bottom: 5vh;
}
.section{
  padding: 40px;
}

/* MAIN */
.section.gray {
  text-align: center;
  line-height: 30px;
  background: lightgrey;
}


.col3 .col{
  width: 33%;
  float: left;
  text-align: center;
  padding:0 20px;
}
.col3 .col img{
  width: 100%;
  height: 150px;
}
.col3 .col h2{
  color: green;
  margin:20px 0;
}

.hr_title{
  width: 30%;
  margin:auto;
  margin-bottom: 20px;
}

.hr_section{
  width: 95%;
  margin: auto;
}

.col2 .col{
  width: 50%;
  float: left;
  padding: 0 30px;
}

.col2 .col h2{
  font-size: 2em;
  line-height: 40px;
  margin-bottom: 10px;
}
.col2 .col p{
  margin-bottom: 20px;
}


footer{
  width: 100%;
  background: lightgrey;
  padding: 20px;

}

.footer_left{
  float: left;
}
.footer_right{
  float:right;
}
.footer span{
  padding: 0 20px;
}
.footer span:last-child{
  margin-right: 0;
}

#fake_input{
  width: 50px;
  text-decoration: underline;
}
#help{
  background: green;
  text-transform: uppercase;
  position: fixed;
  bottom:0;
  right:5%;
  padding: 7px;
  border-radius: 5px 5px 0 0;
}
#help a{
  text-decoration: none;
  color:white;
}
