*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* width: 80%;
  margin: auto; */
  font-family: 'Open Sans', sans-serif;
}
.clearfix{
  content: '';
  display: table;
  clear: both;
}

/* MAIN */
.sezione_grigia {
  text-align: center;
  line-height: 30px;
  background: lightgrey;
  padding: 40px;
}
.sezione_grigia p{
  color:grey;
}

/* STRUTTURE GENERALI */
.section {
  padding: 40px 0;
}
.col3 .col{
  width: 33%;
  float: left;
  text-align: center;
  padding:0 20px;
}
.col3 .col img{
  width: 100%;
  height: 150px;
}
.col3 .col h3{
  color: green;
}

hr.section_hr{
  width: 90%;
  margin: auto;
}
.col2 .col{
  width: 50%;
  height: 20px;
  background: blue;
  float: left;
}
footer{
  background: red;
  height: 5vh;
}

/* .button .large{
  da definire
}

.button .small{
  da definire
} */
